In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Seaborn Settings
sns.set_style("whitegrid")
sns.set_context("poster")
sns.set(color_codes=True)

%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [5]:
df=pd.read_csv("C:\\Users\\Avila\\OneDrive\\Desktop\\csv files\\Ecommerce Customers.csv")
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [6]:
x = df['Length of Membership']
y = df['Yearly Amount Spent']

len(x), len(y)

(500, 500)

In [7]:
x.shape, y.shape

((500,), (500,))

In [8]:
x_reshape = x.values.reshape(-1,1)
y_reshape = y.values.reshape(-1,1)

x_reshape.shape, y_reshape.shape

((500, 1), (500, 1))

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x_reshape, y_reshape, test_size=0.2, random_state=5)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((400, 1), (100, 1), (400, 1), (100, 1))

In [10]:
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [11]:
y_pred = linreg.predict(x_test)
y_pred[0]

array([549.75834638])

***the closer to 100 or 1, the better the explanation of the model for the distance of the variance***

In [12]:
r2_score(y_test,y_pred)

0.7179331649487668

In [13]:
mean_absolute_error(y_test,y_pred)

33.38082711369426

In [14]:
def mape(y_true, y_pred):
    """Calculate Mean Absolute Percentage Error (MAPE)
    
       Args:
           y_true: actual results
           y_pred: predicted results
    """
    
    #MAPE
    mape = np.mean(np.abs(y_pred - y_true)/np.abs(y_true))
    
    return mape

In [15]:
mape(y_test,y_pred)

0.06917981929745898

In [16]:
np.sqrt(mean_squared_error(y_test,y_pred)) #RMSE

40.6321301533295

In [17]:
mean_squared_error(y_test,y_pred)

1650.9700007971082